.navBarOuterContainer {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 1200px;
}

.navBarInnerContainer {
    margin: auto;
}

.navItem {
    width: 50%;
    text-align: center;
    background-color: rgb(217, 211, 216);
}

.navItem:hover {
    background-color: rgb(217, 211, 216, 0.5);
}

.navItemText {
    font-family: avenir;
    color: #736372;
    width: 100%;
    display: block;
}

.navItem:hover .navItemText {
    text-decoration: none;
    color: #736372;
}