@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery-section {
    width: 100%;
}

.inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }

.border {
    width: 180px;
    height: 4px;
    margin: 60px auto;
}

.gallery-section .gallery {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50% 50% 50%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.gallery-section .image{
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
    object-fit: cover;
    padding:0.5%;
  }

  .image:hover img{
      opacity: 0.2;
      transition-duration: 0.5s;
  }

  .image:hover .entryTitle {
      opacity: 1;
      visibility: visible;
  }

  .entryImage {
    position: relative;
    text-align: center;
    height: 100%;
    padding: 1%;
  }

  .entryTitle {
    font-family: avenir;
    color: #736372;
    position: absolute;
    z-index: 1;
    top: 30%;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: .3s;
  }

.gallery-section .image img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
    object-fit: cover;
}

@media screen and (min-width:960px) {
    .gallery-section .gallery{
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50% 50% 50%;
    }
  }

@media screen and (max-width:960px) {
    .gallery-section .gallery{
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-rows: 25% 25% 25% 25%;
    }
  }
  
  @media screen and (max-width:768px) {
    .gallery-section .gallery{
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
    }
  }
  
  @media screen and (max-width:480px) {
    .gallery-section .gallery{
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
    }
  }
